*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(179, 102, 251);
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    width: 360px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
.box img{
    height: 57%;
    border-radius: 10px;
}
.box h2{
    font-weight: bold;
    font-size: 1.5rem;
}
.box p{
    font-weight: 100;
    font-size: 1rem;
}

